---
import Collapsible from "~/components/widgets/Collapsible.astro";
import CodeHighlight from "~/components/widgets/CodeHighlight.astro";
import getModel from "~/components/api/get-model";

export interface Props {
	model: "java" | "bedrock" | "query" | "offline";
}

const props: Props = Astro.props;
const modelText = getModel(props.model);
---

<div>
	<div class="button-and-url">
		<!-- Some-why, tailwind doesn't work here -->
		<style>
			.button-and-url {
				@apply mt-3 flex items-center gap-2;
			}

			.get-button {
				@apply rounded bg-green-700 px-2 py-1 text-xs text-white;
			}

			.url {
				@apply break-all;
			}
		</style>
	</div>
	<div class="not-prose mt-4">
		<Collapsible title={`See the ${props.model.charAt(0).toUpperCase() + props.model.substring(1)} answer scheme`}>
			<CodeHighlight code={modelText} language="ts" />
		</Collapsible>
	</div>
</div>
