---
import Layout from "~/layouts/PageLayout.astro";

const statusResult = {
	online: true,
	address: {
		host: "mc.hypixel.net",
		port: 19132,
	},
	motd: {
		raw: "                §aHypixel Network §c[1.8-1.19]\n    §6§l10th ANNIVERSARY §7- §b§lEASTER EVENT §7§ §c§lSALE",
		plain: "                Hypixel Network [1.8-1.19]\n    10th ANNIVERSARY - EASTER EVENT § SALE",
		html: "<p>                <span style='color:rgb(85, 255, 85);text-shadow:0 0 1px rgb(21, 63, 21)'>Hypixel Network </span><span style='color:rgb(255, 85, 85);text-shadow:0 0 1px rgb(63, 21, 21)'>[1.8-1.19]\n    </span><span style='color:rgb(255, 170, 0);text-shadow:0 0 1px rgb(42, 42, 0)'><b>10th ANNIVERSARY </span></b><span style='color:rgb(170, 170, 170);text-shadow:0 0 1px rgb(42, 42, 42)'>- </span><span style='color:rgb(85, 255, 255);text-shadow:0 0 1px rgb(21, 63, 63)'><b>EASTER EVENT </span></b><span style='color:rgb(170, 170, 170);text-shadow:0 0 1px rgb(42, 42, 42)'>§ </span><span style='color:rgb(255, 85, 85);text-shadow:0 0 1px rgb(63, 21, 21)'><b>SALE</span></b></p>",
		ansi: "\x1b[0m                \x1b[0m\x1b[38;2;85;255;85mHypixel Network \x1b[0m\x1b[38;2;255;85;85m[1.8-1.19]\n    \x1b[0m\x1b[38;2;255;170;0m\x1b[1m10th ANNIVERSARY \x1b[0m\x1b[38;2;170;170;170m- \x1b[0m\x1b[38;2;85;255;255m\x1b[1mEASTER EVENT \x1b[0m\x1b[38;2;170;170;170m§ \x1b[0m\x1b[38;2;255;85;85m\x1b[1mSALE\x1b[0m",
	},
	version: {
		name: {
			raw: "Requires MC 1.8 / 1.19",
			plain: "Requires MC 1.8 / 1.19",
			html: "<p>Requires MC 1.8 / 1.19</p>",
			ansi: "\x1b[0mRequires MC 1.8 / 1.19\x1b[0m",
		},
		edition: "MCPE", // or MCEE
		protocol: 47,
	},
	players: { online: 63234, max: 200000 },
	map_name: "World",  // can be undefined
	gamemode: "Survival",  // can be undefined
	internal: {
		cached_at: 1673774293240,
		cache_ends_at: 1673774353240,
	},
};
---

<Layout>
	<h1>Status result for {statusResult.address.host}</h1>
</Layout>
