---
import Modal from "../../widgets/Modal.astro";
import CodeHighlight from "../../widgets/CodeHighlight.astro";

import type { OfflineStatusAnswer } from "../interfaces";
import Base from "./Base.astro";

export type Props = { status: OfflineStatusAnswer };

const { status }: Props = Astro.props;
---

<Base nameValue="Error Info" valueClasses="space-y-2 md:space-y-0 md:flex md:items-center md:space-x-5">
	<Modal>
		<button
			slot="button"
			class="flex transform items-center rounded text-sm tracking-wide transition-colors duration-200"
		>
			<code class="rounded bg-dark px-2 py-1 text-white">{status.error.short_name}</code>
		</button>
		<div slot="value">
			<CodeHighlight code={status.error.traceback} language="python" />
		</div>
	</Modal>
</Base>
