---
import { Content as AboutPage, frontmatter } from "~/content/about.mdx";
import Markdown from "~/components/widgets/Markdown.astro";
---

<section class="mx-auto max-w-6xl px-4 pb-16 lg:px-8">
	<Markdown frontmatter={frontmatter}>
		<AboutPage />
	</Markdown>
</section>
