---
import { CONFIG } from "~/config.mjs";
---

{
	CONFIG.announcement.text ? (
		<div class="hidden overflow-hidden text-ellipsis whitespace-nowrap border-b border-blue-900 bg-blue-900 px-3 py-2 text-sm text-gray-200 dark:border-slate-800 dark:bg-slate-800 dark:text-slate-400 md:block">
			<span class="bg-primary px-1 py-0.5 text-xs font-semibold dark:bg-slate-700 dark:text-slate-300">
				{CONFIG.announcement.prefix}
			</span>
			<a href={CONFIG.announcement.link} class="text-gray-200 hover:underline dark:text-slate-400">
				{CONFIG.announcement.text}
			</a>
		</div>
	) : null
}
