---
import type { Lang } from "shiki-es";
import { renderToHtml } from "./_code-highlight";

export interface Props {
	code: string;
	language: Lang;
}

const { code, language }: Props = Astro.props;

const [htmlDark, htmlLight] = await renderToHtml(language, code);
---

<div class="overflow-x-auto overflow-y-hidden bg-gray-200 dark:bg-gray-800">
	<span class="dark-code"><Fragment set:html={htmlDark} /></span>
	<span class="light-code"><Fragment set:html={htmlLight} /></span>
	<style>
		:is(.dark .dark-code) {
			@apply block;
		}
		:is(.dark .light-code) {
			@apply hidden;
		}
		.dark-code {
			@apply hidden;
		}
		.light-code {
			@apply block;
		}
	</style>
</div>
