---
export interface Props {
	frontmatter?: {
		title: string;
	};
}

const { frontmatter }: Props = Astro.props;
---

<h1 class="leading-tighter font-heading text-4xl font-bold tracking-tighter md:text-5xl">{frontmatter.title}</h1>
<div
	class="prose-md prose-headings:leading-tighter prose prose-lg mt-8 max-w-none dark:prose-invert prose-headings:font-heading prose-headings:font-bold prose-headings:tracking-tighter prose-a:text-blue-600 prose-img:rounded-md prose-img:shadow-lg dark:prose-headings:text-slate-300 dark:prose-a:text-blue-400"
>
	<slot />
</div>
