---
import Layout from "~/layouts/PageLayout.astro";
import GetStatus from "~/components/widgets/GetStatus.astro";
import About from "~/components/widgets/About.astro";
import { CONFIG } from "~/config.mjs";

const meta = {
	title: CONFIG.title,
	description: CONFIG.description,
	dontUseTitleTemplate: true,
};

export const prerender = true;
---

<Layout {meta}>
	<section>
		<GetStatus />
	</section>
	<About />
</Layout>
<script>
	alert(
		"READ ME\n\n" +
		"Input any IP, there is no actual request to the server, only placeholders.\n\n" +
		"Input `offline` for example of how the offline server looks like."
	);
</script>
