---
import Layout from "~/layouts/PageLayout.astro";
import GetStatus from "~/components/widgets/GetStatus.astro";
import About from "~/components/widgets/About.astro";
import { CONFIG } from "~/config.mjs";

const meta = {
	title: CONFIG.title,
	description: CONFIG.description,
	dontUseTitleTemplate: true,
};

export const prerender = true;
---

<Layout {meta}>
	<section>
		<GetStatus />
	</section>
	<About />
</Layout>
<script>
	alert("Hi! Please read the https://statusmc.perchun.it/how-to-test page for info about what is happening here. Thanks!");	
</script>
