---
import { CONFIG } from "../config.mjs";
import { getAsset } from "../utils/permalinks";
import { Image } from "@astrojs/image/components";
---

<span
	class="ml-2 inline-flex space-x-2 self-center whitespace-nowrap text-2xl font-bold text-gray-900 dark:text-white md:space-x-1 md:text-xl"
>
	<Image src={getAsset("/favicon.png")} alt="Logo" width="64" height="64" class="w-[32px] h-[32px]" />
	<span>{CONFIG.name}</span>
</span>
