@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-page {
		color: var(--aw-color-text-page);
	}

	.btn {
		@apply text-page inline-flex items-center justify-center rounded-full border border-gray-400 bg-transparent px-6 py-3.5 text-center text-base font-medium leading-snug shadow-md transition duration-200 ease-in hover:border-gray-600 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-blue-200 dark:border-slate-500 dark:text-slate-300 dark:hover:border-slate-800 dark:hover:bg-slate-800 md:px-8;
	}

	.btn-ghost {
		@apply border-none text-muted shadow-none hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
	}

	.btn-primary {
    	@apply font-semibold bg-primary text-white border-primary hover:bg-secondary hover:border-secondary hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-secondary dark:hover:bg-secondary;	}
}

[astro-icon].icon-light > * {
	stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
	stroke-width: 2.4;
}

.darker-than-bg {
    @apply border bg-black bg-opacity-5 border-black border-opacity-10 dark:bg-white dark:bg-opacity-5 dark:border-white dark:border-opacity-10
}

.box {
	@apply darker-than-bg w-full rounded
}

.interactive-box {
    @apply box hover:bg-opacity-10 hover:border-opacity-25 disabled:border-opacity-0 outline-none
}

[x-cloak] {
    display: none !important;
}
