---
import "~/assets/styles/base.css";

import MetaTags from "~/components/common/MetaTags.astro";
import BasicScripts from "~/components/common/BasicScripts.astro";

import { MetaSEO } from "~/types";
import { CONFIG } from "~/config.mjs";
import * as Sentry from "@sentry/node";

export interface Props {
	meta?: MetaSEO;
}

const { meta = {} } = Astro.props;
const { language = "en" } = CONFIG;

Sentry.init({
	dsn: "https://8c5f0b4919644ef69904e9901bf3154e@o4504254006689792.ingest.sentry.io/4505353780133888",
	tracesSampleRate: 1.0,
});
---

<!DOCTYPE html>
<html lang={language} class="2xl:text-[20px]">
	<head>
		<MetaTags {...meta} />
		<script>
			import * as Sentry from "@sentry/browser";

			Sentry.init({
				dsn: "https://8c5f0b4919644ef69904e9901bf3154e@o4504254006689792.ingest.sentry.io/4505353780133888",
				integrations: [
					new Sentry.BrowserTracing({
						// Set `tracePropagationTargets` to control for which URLs distributed tracing should be enabled
						tracePropagationTargets: [/^https:\/\/statusmc\.perchun\.it/],
					}),
				],
				// Performance Monitoring
				tracesSampleRate: 1.0,
			});
		</script>
		<script async defer src="https://simpleanal.perchun.it/latest.js"></script>
		<noscript><img src="https://simpleanal.perchun.it/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
	</head>

	<body class="text-page bg-light tracking-tight antialiased dark:bg-dark dark:text-slate-300">
		<slot />
		<BasicScripts />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
