---
import Layout from "~/layouts/PageLayout.astro";

export interface Props {
	edition: string;
	ip?: string;
}

const { edition, ip }: Props = Astro.params;
---

<Layout>
	<h1>{edition}: {ip}</h1>
</Layout>
